.row {
    min-height: 100%;
}


.head {
    background-color: var(--main);
    min-height: 80vh;
    width: 100%;
    height: auto;
}

.head-content {
    min-height: 80vh;
    padding-bottom: 70px;
}

.head-left {
    color: white;
    height: 50%;
}

.head-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.head-subtitle {
    font-size: 1.8rem;
}

.btn-head {
    min-width: 50%;
    padding: 15px;
    font-weight: bolder;
    box-shadow: -8px 13px 48px -27px rgb(83, 83, 83);
}

.head-right {
    background-color: white;
    height: 60vh;
    border-radius: 5px;
    box-shadow: -8px 13px 48px -27px rgb(82, 81, 81);
}

.btn-send {
    height: 50px;
    width: 90%;
}

.form-input1 {
    border: .5px solid black;
    border-radius: 5px;
    height: 50px;
    width: 90%;
    padding-left: 15px;
}

.form-input1::placeholder {
    padding-left: 30px;
    color: rgb(112, 112, 112);
    background: url(./assets/user.svg) no-repeat left center;

}

.form-input2 {
    border: .5px solid black;
    border-radius: 5px;
    height: 50px;
    width: 90%;
    padding-left: 15px;
}

.form-input2::placeholder {
    padding-left: 30px;
    color: rgb(112, 112, 112);
    background: url(./assets/email.svg) no-repeat left center;
}

.form-input3 {
    border: .5px solid black;
    border-radius: 5px;
    height: 50px;
    width: 90%;
    padding-left: 15px;
}

.form-input3::placeholder {
    padding-left: 30px;
    color: rgb(112, 112, 112);
    background: url(./assets/phone.svg) no-repeat left center;
}