.navbar {
    height: 20vh;
    width: 100%;
    background-color: var(--main);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar .row {
    width: 100%;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    text-decoration: none;
}

.buy-link {
    border: 1px solid white;
    border-radius: 5px;
}

.buy-link:hover {
    background-color: white;
    color: #3EB6F0;
}